@charset "UTF-8";

/*---------- 文字 ---------- */
body {
  font-family: 'M PLUS 1p', 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0 0 0 0;
  position: relative;
  font-size: 6vw;
  text-align: center;
  font-weight: 800;
  color: #2857b1;
}

h2 {
  margin: 0 0 0 0;
  position: relative;
  font-size: 5.5vw;
  text-align: left;
  font-weight: 800;
  color: #2857b1;
}

h3 {
  margin: 0 0 0 0;
  position: relative;
  font-size: 1.5vw;
  text-align: center;
  font-weight: 800;
  color: #fff;
}

h4 {
  margin: 0 0 0 0;
  position: relative;
  font-size: 4.5vw;
  text-align: left;
  font-weight: 800;
  color: #00a7eb;
}

a {
  margin: 0 0 0 0;
  position: relative;
  font-size: 1.7vw;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

txt1 {
  margin: 0 0 0 0;
  position: relative;
  font-size: 2vw;
  font-weight: 500;
  color: #000;
}

txt2 {
  margin: 0 0 0 0;
  position: relative;
  font-size: 2.3vw;
  font-weight: 700;
  color: #fff;
}

txt3 {
  margin: 0 0 0 0;
  position: relative;
  font-size: 3.5vw;
  font-weight: 700;
  color: #dc143c;
}

/*---------- メニューバー ---------- */
ul.ddmenu {
  margin: 0px;
  padding: 0px 0px 0px 15px;
  background-color: #2857b1;
}

ul.ddmenu li {
  width: 225px;
  display: inline-block;
  list-style-type: none;
  position: relative;
}

ul.ddmenu a {
  background-color: #2857b1;
  color: #fff;
  font-size: 2.3vw;
  line-height: 55px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

ul.ddmenu a:hover {
   background-color: #00a7eb;
}

ul.ddmenu li:hover > ul {
  display: block;
}

ul.ddmenu ul {
  background-color: #2857b1;
  margin: 0px;
  padding: 0px;
  display: none;
  position: absolute;
  z-index: 999;
}

ul.ddmenu ul li {
  width: 225px;
  border-top: 1px solid white;
}

ul.ddmenu ul li a {
  line-height: 55px;
  text-align: left;
  padding-left: 5px;
  font-weight: normal;
}

ul.ddmenu ul li a:hover {
  background-color: #00a7eb;
}

ul.ddmenu ul ul {
  margin: 0px;
  padding: 0px;
  display: none;
  position: absolute;
  top: -1px;
  left: 100%;
  border-left: 1px solid white;
}

/*---------- ボタン ---------- */
.btn06{
  position: relative;
  text-decoration: none;
	display: inline-block;
	background:#009fe8;
	color:#fff;
  padding: 10px 40px 10px 30px;
	border-radius:25px;
  text-align: center;
  outline: none;
  transition: ease .2s;
  font-size: 2.3vw;
  font-weight: 600;
  color: #ffffff;
}

.btn06:hover{
  background:#4ab8f7;
}

.btnarrow2::after{
  content: '';
  position: absolute;
  top:42%;
  right: 13px;
  width: 5px;
  height: 5px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}

.btnarrow2:hover::after{
  animation: arrow .5s;
}

@keyframes arrow {
  50% {
    right: 10px;
  }
  100% {
    right: 13px;
  }
}

/*---------- セクション ---------- */
.sec03 {
  margin: 0 0 0 0;
	height: auto;
	background-color: #dcdcdc;
}

.sec05 {
  margin: 0 0 0 0;
	height: auto;
	background-color: #2857b1;
}

/*---------- フッター リンク ---------- */
.op a:hover{
	color: #fff;
	opacity: 0.5;
}

.twitter a::before{
  content: '';
  display: inline-block;
  width: 2.5vw;
  height: 2.5vw;
  background-image: url(https://tcut-sci-tech.github.io/photo/Logo%20twitter.png);  
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 1vw;
}

.tcu a::before{
  content: '';
  display: inline-block;
  width: 2.5vw;
  height: 2.5vw;
  background-image: url(https://tcut-sci-tech.github.io/photo/Logo%20tcu.png);  
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 1vw;
}

.sci a::before{
  content: '';
  display: inline-block;
  width: 2.5vw;
  height: 2.5vw;
  background-image: url(https://tcut-sci-tech.github.io/photo/Logo%20sci.png);  
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 1vw;
}

/*---------- 画面分割 ---------- */
.flex_div {
  display: flex;
  justify-content: center;
}

.a_div {
  display: inline-block;
  width: 5%;
  padding:0vw;
  margin: 0vw 0vw 0vw 0vw;
}

.a_div img {
  display: inline-block;
	width: 100%;
	height: auto;
}

.b_div {
  display: inline-block;
  width: 90%;
  padding:0vw;
  margin: 0vw 0vw 0vw 0vw;
}

.b_div img {
  display: inline-block;
	width: 100%;
	height: auto;
}

.c_div {
  display: inline-block;
  width: 50%;
  padding:0vw;
  margin: 0vw 1vw 0vw 1vw;
}

.c_div img {
  display: inline-block;
	width: 100%;
	height: auto;
}

.d_div {
  display: inline-block;
  width: 40%;
  padding:0vw;
  margin: 0vw 1vw 0vw 1vw;
}

.d_div img {
  display: inline-block;
	width: 100%;
	height: auto;
}

.e_div {
  display: inline-block;
  width: 70%;
  padding:0vw;
  margin: 0vw 1vw 0vw 1vw;
}

.e_div img {
  display: inline-block;
	width: 100%;
	height: auto;
}
