body{
  margin:0;
  padding:0;
  font-family: 'M PLUS 1p', 'Montserrat', sans-serif;
  width:100vw;
  background-color:#fff;
}

/*----font----*/
h1 {
  margin:0;
  font-size: 8vw;
  text-align: center;
  font-weight: 800;
  color: #036eb7;
}

h2 {
  margin:0 5vw;
  font-size: 6vw;
  text-align: left;
  font-weight: 800;
  color: #036eb7;
}

h6{
  margin:0;
  font-size: 1.5vw;
  font-weight: 800;
  color: #fff;
}

tit4 {
  margin: 0 0 0 0;
  padding:0;
  line-height:normal;
  position: relative;
  font-size: 3.5vw;
  font-weight: 800;
  color: #f00;
}

tit5 {
  margin: 0 0 0 0;
  padding:0;
  line-height:normal;
  position: relative;
  font-size: 2.5vw;
  font-weight: 800;
  color: #000;
}

txt1 {
  margin: 0 0 0 0;
  padding:0;
  line-height:normal;
  position: relative;
  font-size: 2vw;
  font-weight: 500;
  color: #000;
}

txt3{
  margin: 0 0 0 0;
  position: relative;
  font-size: 2.3vw;
  font-weight: 700;
  color: #fff;
}
/*---color---*/
whi{
  color:#fff;
}

/*---flex---*/
.flex{
  display:flex;
}

.block{
  display:inline-block;
  height:auto;
  width:5vw;
}

.a-div{
  display:inline-block;
  height:auto;
  width:55vw;
}

.a-div-img{
  display:inline-block;
  height:auto;
  width:35vw;
}
/*---link---*/
a {
  margin: 0 0 0 0;
  font-size: 1.7vw;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.op a:hover{
	color: #fff;
	opacity: 0.5;
}

.twitter a::before{
  content: '';
  display: inline-block;
  width: 2.5vw;
  height: 2.5vw;
  background-image: url(https://tcut-sci-tech.github.io/photos/Logo%20twitter.png);  
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 1vw;
}

.tcu a::before{
  content: '';
  display: inline-block;
  width: 2.5vw;
  height: 2.5vw;
  background-image: url(https://tcut-sci-tech.github.io/photos/Logo%20tcu.png);  
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 1vw;
}

.sci a::before{
  content: '';
  display: inline-block;
  width: 2.5vw;
  height: 2.5vw;
  background-image: url(https://tcut-sci-tech.github.io/photos/Logo%20sci.png);  
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 1vw;
}

/*---------- メニューバー ---------- */
/*---------- メニューバー ---------- */
ul.ddmenu {
  margin: 0px;
  padding: 0px 0px 0px 15px;
  background-color: #2857b1;
}

ul.ddmenu li {
  width: 20vw;
  display: inline-block;
  list-style-type: none;
  position: relative;
}

ul.ddmenu a {
  background-color: #2857b1;
  color: #fff;
  font-size: 2.3vw;
  line-height: 10vw;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

ul.ddmenu a:hover {
   background-color: #00a7eb;
}

ul.ddmenu li:hover > ul {
  display: block;
}

ul.ddmenu ul {
  background-color: #2857b1;
  margin: 0px;
  padding: 0px;
  display: none;
  position: absolute;
  z-index: 999;
}

ul.ddmenu ul li {
  width: 20vw;
  border-top: 1px solid white;
}

ul.ddmenu ul li a {
  line-height: 10vw;
  text-align: left;
  padding-left: 5px;
  font-weight: normal;
}

ul.ddmenu ul li a:hover {
  background-color: #00a7eb;
}

ul.ddmenu ul ul {
  margin: 0px;
  padding: 0px;
  display: none;
  position: absolute;
  top: -1px;
  left: 100%;
  border-left: 1px solid white;
}


/*--main---*/
main{
  margin:0;
  padding:0;
  height:auto;
  width:100vw;
}

.sec1,.sec2,.sec4,.sec6{
  margin:0;
  padding:0;
  height:cover;
  width:100vw;
  background-color:#fff;
}

.sec3,.sec5,.sec7{
  margin:0;
  padding:0;
  height:cover;
  width:100vw;
  background-color:#ccc;
}

/* Loading背景画面設定　*/



footer{
  margin:0;
  padding:0;
  height:auto;
  width:100vw;
  background-color:#2857b1;
}
